.best-services-wrapper {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.best-service-item {
    margin-right: 30px;
    margin-left: 30px;
}

.service-item-box {
    padding: 50px 10px;
    position: relative;
    z-index: 1;
    border-radius: 8px;
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
    background-color: #fff;
    text-align: center;
}

.service-item-box h4 {
    color: var(--heading-color);
    font-size: 1.5rem;
}

.service-item-box h4 a {
    margin-top: 25px;
    display: block;
    color: var(--heading-color);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
    font-size: 23px;
}

.service-item-box h4 a:hover {
    color: var(--pink);
}

.service-item-box p {
    font-size: 16px;
    line-height: 28px;
    color: var(--font-color);
    letter-spacing: 0.2px;
}

.service-item-box a {
    font-weight: 600;
    display: inline-block;
    margin-top: 30px;
    font-size: 17px;
    color: var(--heading-color);
}

.service-item-box a:hover {
    color: var(--pink);
}

.icon-best {
    color: var(--pink);
    font-size: 40px;
}
